<!--**********************************
        MENU START
    ***********************************-->
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>

            <li><a href="/driver/list/order" class="menu-item"><i class="far fa-list-alt"></i><span
                        class="nav-text">Nhận đơn</span></a></li>
            <li><a href="/driver/delivering-order" class="menu-item"><i class="fas fa-shipping-fast"></i><span
                        class="nav-text">Đang giao</span></a></li>
        </ul>
    </div>
</div>
<!--**********************************
        MENU END
    ***********************************-->

<!--**********************************
        Content body start
    ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi! Welcome back</h4>
                </div>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title title-custom">Danh sách đơn hàng đang giao</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th class="id-col" scope="col">Mã đơn hàng</th>
                                        <th class="customer-name-col" scope="col">Tên khách hàng</th>
                                        <th class="address-col" scope="col">Địa chỉ giao hàng</th>
                                        <th class="price-col" scope="col">Tổng phí sản phẩm</th>
                                        <th class="status-col" scope="col">Tình trạng đơn hàng</th>
                                        <th class="action-col" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body" id="delivering-order-table">
                                    {{#each order}}
                                    <tr>
                                        <td>
                                            <div class="id-col">{{id}}</div>
                                        </td>
                                        <td>
                                            <div class="customer-name-col">{{customerName}}</div>
                                        </td>
                                        <td>
                                            <div class="address-col">{{address}}</div>
                                        </td>
                                        <td>
                                            <div class="price-col">{{totalPrice}}</div>
                                        </td>
                                        <td>
                                            <div class="status-col" of={{id}}>{{status}}</div>
                                        </td>
                                        <td>
                                            <div class="action-col">
                                                <button type="button" class="mr-4 btn btn-primary" data-id={{id}}
                                                    name="update-order-status">Cập nhật tình trạng đơn hàng</button>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit an order Modal HTML -->
    <div id="update-order-status-for-driver-modal" class="modal fade">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật tình trạng đơn hàng</h4>
                    <button type="button" class="close cancelEditFormBtn" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="form-label">Id</label>
                                <input type="text" class="form-control order-id" value="" readonly>
                            </div>
                            <div class="col-sm-8 form-group">
                                <label class="form-label">Tình trạng đơn hàng cũ</label>
                                <input type="text" class="form-control old-status-input" value="" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8 form-group">
                                <label class="form-label">Tình trạng đơn hàng mới</label>
                                <select class="form-select" name="new-order-status" required>
                                    <option value="" disabled selected>Chọn tình trạng đơn hàng</option>
                                    <option value="Đang giao hàng">Đang giao hàng</option>
                                    <option value="Đã giao hàng">Đã giao hàng</option>
                                    <option value="Hoàn trả hàng">Hoàn trả hàng</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success confirm-btn" value="Confirm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!-- Success Modal HTML -->
        <div id="update-successful-status-for-driver-modal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="fa fa-check"></i>
                        </div>				
                        <h4  class="modal-title w-100 title"></h4>	
                    </div>
                    <div class="modal-body">
                        <div class="text-center message"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="success-modal-btn" class="btn btn-success btn-block" >OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- rollback Modal HTML -->
        <div id="rollback-for-driver-modal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box" style="background-color:yellow;color:black;">
                            <i class="fas fa-exclamation"></i>
                        </div>				
                        <h4  class="modal-title w-100 title"></h4>	
                    </div>
                    <div class="modal-body">
                        <div class="text-center message"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning btn-block" style="background-color:yellow; color:black;" >OK</button>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Error modal HTML --}}
        <div id="update-status-for-driver-error-modal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>				
                        <h4 class="modal-title w-100 .title"></h4>	
                    </div>
                    <div class="modal-body">
                        <p class="text-center .message"></p>
                    </div>
                    <div class="modal-footer">
                        <button id="error-modal-btn" class="btn btn-danger btn-block">OK</button>
                    </div>
                </div>
            </div>
        </div>

</div>



<!--**********************************
        Content body end
    ***********************************-->



</div>