
    <!--**********************************
        MENU START
    ***********************************-->
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li><a href="/partner/order" class="menu-item"><i class="far fa-list-alt"></i></i><span
                class="nav-text">Đơn hàng</span></a></li>
                <li><a href="/partner/product" class="menu-item"><i class="far fa-cube"></i></i><span class="nav-text">Sản phẩm</span></a></li>
            </ul>
        </div>
    </div>
    <!--**********************************
        MENU END
    ***********************************-->
    
    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi! Welcome back</h4>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title title-custom">Danh sách sản phẩm</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered verticle-middle table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th class="id-col" scope="col">Mã sản phẩm</th>
                                            <th class="name-col" scope="col">Tên sản phẩm</th>
                                            <th class="category-col" scope="col">Loại</th>
                                            <th class="price-col" scope="col">Giá sản phẩm</th>
                                            <th class="action-col" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        {{#each product}}
                                        <tr>
                                            <td>
                                                <div class="id-col">{{id}}</div>
                                            </td>
                                            <td>
                                                <div class="name-col">{{name}}</div>
                                            </td>
                                            <td>
                                                <div class="category-col">{{category}}</div>
                                            </td>
                                            <td>
                                                <div class="price-col">{{price}}</div>
                                            </td>
                                            <td>
                                                <div id={{id}} class="action-col">
                                                    <button type="button" id="editProductBtn" class="mr-4 btn btn-primary"
                                                        title="Edit">Sửa</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit product modal HTML -->
        <div id="editProductModal" class="modal fade">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Cập nhật thông tin sản phẩm</h4>
                        <button type="button" id="cancelEditFormBtn" class="close" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <form id="editProductForm">
                            <div class="col-sm-12 form-group">
                              <label class="form-label">Tên sản phẩm</label>
                              <input type="text" class="form-control" id="productName" name="productName" value="" required>
                            </div>
                            <div class="col-sm-12 form-group">
                              <label class="form-label">Loại sản phẩm</label>
                              <input type="text" class="form-control" id="productCategory" name="productCategory" value="" disabled>
                              {{!-- <select id="demoCase" class="form-select" name="productCategory" required>
                                <option value="" disabled selected>Select your option</option>
                                <option value="Unrepeatable Read">Unrepeatable Read</option>
                                <option value="Deadlock">Deadlock</option>
                              </select> --}}
                            </div>
                            
                            <div class="col-sm-12 form-group">
                              <label class="form-label">Giá thành sản phẩm</label>
                              <input type="number" class="form-control" id="productPrice" name="productPrice" value="" required>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="editCancelFormBtn" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" id="editConfirmFormBtn" class="btn btn-success confirm-btn" value="Confirm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Success Modal HTML -->
        <div id="successModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="fa fa-check"></i>
                        </div>				
                        <h4 id="successTitle" class="modal-title w-100">Success</h4>	
                    </div>
                    <div class="modal-body">
                        <div id="successMsg" class="text-center">Property has added to database.</div>
                    </div>
                    <div class="modal-footer">
                        <button id="success-modal-btn" class="btn btn-success btn-block" >OK</button>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Error modal HTML --}}
        <div id="errorModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>				
                        <h4 id="errorTitle" class="modal-title w-100">Sorry!</h4>	
                    </div>
                    <div class="modal-body">
                        <p id="errorMsg" class="text-center">Your transaction has failed. Please go back and try again.</p>
                    </div>
                    <div class="modal-footer">
                        <button id="error-modal-btn" class="btn btn-danger btn-block">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Content body end
    ***********************************-->


   
</div>
